<!-- Form to add a task -->
<!-- Send the name of the new task -->
<form class="addForm" action="/add-task-submit" method="post">
    <input class="inputTask" type="text" name="name" placeholder="Enter your task" required/>
    <input class="submitTask" type="submit" value="+" />
</form>